<div class="container col-md-10">
   <div class="row">
      <div class="col-md-5">
         <img src="{{toy.image}}" width="auto" height="auto" alt="this is toy image">
      </div>
      <div class="col-md-7 card bg-warning">
         <h1 class="text-center">Thông tin đồ chơi</h1>
         <h3>Tên đồ chơi: {{ toy.name_toy }}</h3>
         <h3>Giá: {{ toy.price }} </h3>
         <h3>Category: {{ toy.category}}</h3>
         {{!-- <h3>Ảnh: {{ toy.image }}</h3> --}}
      </div>
      <div class="form-group  mb-3 text-center" style="margin-top: 50px;">
         <input class="btn btn-info" id="count_product" type="number" style="width: 100px;margin-left: 30px;"
            placeholder="Số lượng">
         <input class="btn btn-warning" type="submit" value="Buy" onclick="buy()">
         <button class="btn btn-danger" type="reset" value="Cancle"><a style=" text-decoration: none;"
               href="/custumer">Cancle</a></button>
      </div>
   </div>
</div>
<style>
   body {
      font-family: 'Libre Franklin', sans-serif;
      background: #111922;
   }
   a:visited {
      color: black;
   }
</style>
<script>
   function buy() {
      let count = document.getElementById("count_product").value
      if (count === '') {
         return alert(`Vui lòng nhập số lượng sản phẩm`)
      }
      if(confirm(`Bạn có chắc muốn mua ${count} sản phẩm không`) ===true){
         window.location.replace('/custumer')
      }
   }
</script>